<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<div class="file-manager">
  <h1>GoReact File Manager</h1>
  <div class="upload-container">
    <label for="file">Upload a new file:</label>&nbsp;
    <input type="file" id="file" (change)="uploadFile($event)">
  </div>
  <main class="main-container">
    <fieldset class="main-container__tree">
      <legend>File Tree</legend>
      <ul *ngIf="files.length" class="file-tree">
        <li *ngFor="let file of files" (click)="onFileClick(file)" class="file-tree__item">
          {{file.originalName}}
        </li>
      </ul>
      <p *ngIf="!files.length">Upload at least one file &nbsp;&#8593;</p>
    </fieldset>
    <fieldset class="main-container__preview">
      <legend>Preview</legend>
      <div *ngIf="selectedFile">
        <img *ngIf="!selectedFile.isVideo" src="{{serverUrl}}{{selectedFile.path}}" alt="Image preview">
        <video *ngIf="selectedFile.isVideo">
          <source src="{{selectedFile.path}}">
        </video>
      </div>
      <p *ngIf="!selectedFile" class="no-preview">&#8592;&nbsp; Choose a file to see preview</p>
    </fieldset>
  </main>
</div>

<!-- <router-outlet></router-outlet> -->
