<div class="file-manager">
  <h1>GoReact File Manager</h1>
  <div class="upload-container">
    <label for="file">Upload a new file:</label>&nbsp;
    <input type="file" id="file" (change)="uploadFile($event)" accept=".jpg, .mp4">
  </div>
  <main class="main-container">
    <fieldset class="main-container__tree">
      <legend>File Tree</legend>
      <ul *ngIf="files.length" class="file-tree">
        <li *ngFor="let file of files" (click)="onFileClick(file)" class="file-tree__item"
            [ngClass]="{'file-tree__item--active': selectedFile && file.originalName === selectedFile.originalName}">
          {{file.originalName}}
        </li>
      </ul>
      <p *ngIf="!files.length">Upload at least one file &nbsp;&#8593;</p>
    </fieldset>
    <fieldset class="main-container__preview">
      <legend>Preview</legend>
      <div *ngIf="selectedFile">
        <img *ngIf="!selectedFile.isVideo" src="{{serverUrl}}{{selectedFile.path}}" alt="Image preview" class="image">
        <video *ngIf="selectedFile.isVideo" src="{{serverUrl}}{{selectedFile.path}}" controls></video>
      </div>
      <p *ngIf="!selectedFile" class="no-preview">&#8592;&nbsp; Choose a file to see preview</p>
    </fieldset>
  </main>
</div>

<!-- <router-outlet></router-outlet> -->
