:host {
  height: 100%;
}

$border: 1px solid grey;
$border-radius: 3px;

.file-manager {
  margin: 50px 100px;

  .upload-container {
    border: $border;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 5px;
  }

  .main-container {
    display: flex;

    &__tree {
      border: $border;
      border-radius: $border-radius;
      width: 30%;
    }

    &__preview {
      border: $border;
      border-radius: $border-radius;
      width: 70%;
    }
  }
}

.file-tree {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    cursor: pointer;

    &--active {
      background-color: peachpuff;
    }
  }
  &__item:hover {
    background-color: lightsteelblue;
  }
}

.no-preview {
  text-align: center;
}

.image {
  max-width: 100%;
}
